<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Jusibe_Root_Url" value="https://jusibe.com/smsapi/" />
    <add key="Jusibe_Public_Key" value="b566eec84bdf07c628155eac4d418485" />
    <add key="Jusibe_Access_Token" value="812af5e619c589bcfcc727cd2f2b40d5" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>